@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f4f6f8;
  color: #2c3e44;
  -webkit-tap-highlight-color: transparent;
}

button {
  -webkit-tap-highlight-color: transparent;
}
